// Note that we only add styles we want to override from the cgspace theme here.
// We do not use the SASS "!default" here because we want to set the values no
// matter whether they are already defined or not.

// See: IITA Branding Guidelines.pdf

// IITA dark/house orange
$primary: #F26522;

// IITA light orange
$secondary: #F7941D;

// Override mouse selection and hit highlighting color
$info: lighten($secondary, 17%);

// IITA brown, from the website since I can't find anything suitable in the
// Branding Guidelines document.
$iita-brown: #4B2E14;

// Use original Bootstrap gray-200 for breadcrumb-bg
// See: node_modules/bootstrap/scss/_variables.scss
$gray-200: #E9ECEF;
