<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer id="iiif-viewer"
                   [object]="object"
                   [searchable]="iiifSearchEnabled"
                   [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>

<div class="d-flex flex-row">
  <ds-themed-item-page-title-field [item]="object" class="mr-auto">
  </ds-themed-item-page-title-field>
  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ng-container *ngIf="!(mediaViewer.image || mediaViewer.video)">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-themed-thumbnail [thumbnail]="object?.thumbnail | async"></ds-themed-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <div *ngIf="mediaViewer.image || mediaViewer.video" class="mb-2">
      <ds-themed-media-viewer [item]="object"></ds-themed-media-viewer>
    </div>
    <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>
    <ds-themed-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.contributor.author', 'dc.creator']"
      [label]="'relationships.isAuthorOf' | translate">
    </ds-themed-metadata-representation-list>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dcterms.issued']"
      [label]="'item.page.issued'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dcterms.available']"
      [label]="'item.page.available'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dcterms.language']"
      [separator]="'; '"
      [label]="'item.page.language'">
    </ds-generic-item-page-field>
    <ds-item-page-metadata-search-link [item]="object"
      [fields]="['dcterms.type']"
      [label]="'item.page.type'"
      [index]="'itemtype'">
    </ds-item-page-metadata-search-link>
    <ds-generic-item-page-field [item]="object"
      [fields]="['cg.reviewStatus']"
      [label]="'item.page.reviewStatus'">
    </ds-generic-item-page-field>
    <ds-item-page-accessRights-field [item]="object"
      [fields]="['dcterms.accessRights']"
      [label]="'item.page.accessRights'">
    </ds-item-page-accessRights-field>
    <ds-item-page-license-field [item]="object"
      [fields]="['dcterms.license']"
      [label]="'item.page.license'">
    </ds-item-page-license-field>
    <ds-metadata-field-wrapper>
      <div class="simple-view-element">
        <h5 class="simple-view-element-header">Metadata</h5>
        <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
          <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
        </a>
      </div>
    </ds-metadata-field-wrapper>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="row">
        <!-- TODO: check the stacking on mobile -->
        <div class="col-xs-12 col-md-6">
            <ds-item-page-share-field [item]="object">
            </ds-item-page-share-field>
        </div>
        <div class="col-xs-6 col-md-3">
            <ds-item-page-altmetric-field [item]="object">
            </ds-item-page-altmetric-field>
        </div>
        <!-- I know the math on the columns is strange here but oh well -->
        <div class="col-xs-6 col-md-3">
            <ds-item-page-dimensions-field [item]="object">
            </ds-item-page-dimensions-field>
        </div>
    </div>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dcterms.bibliographicCitation']"
      [label]="'item.page.citation'"
      [enableMarkdown]="true">
    </ds-generic-item-page-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['cg.identifier.url']"
      [label]="'item.page.url'">
    </ds-item-page-uri-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['cg.identifier.doi']"
      [label]="'item.page.doi'">
    </ds-item-page-uri-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dcterms.abstract']"
      [label]="'item.page.abstract'"
      [enableMarkdown]="true">
    </ds-generic-item-page-field>
    <ds-item-page-orcid-field [item]="object"
      [fields]="['cg.creator.identifier']"
      [separator]="'<br/>'"
      [label]="'item.page.orcid'">
    </ds-item-page-orcid-field>
    <ds-item-page-sdg-field [item]="object"
      [fields]="['cg.subject.sdg']"
      [label]="'item.page.sdg'">
    </ds-item-page-sdg-field>
    <ds-item-page-metadata-search-link [item]="object"
      [fields]="['dcterms.subject']"
      [separator]="'; '"
      [label]="'item.page.subject'"
      [index]="'subject'">
    </ds-item-page-metadata-search-link>
    <ds-generic-item-page-field [item]="object"
      [fields]="['cg.subject.alliancebiovciat',
                'cg.subject.bioversity',
                'cg.subject.ccafs',
                'cg.subject.ciat',
                'cg.subject.cifor',
                'cg.subject.cip',
                'cg.subject.cpwf',
                'cg.subject.cta',
                'cg.subject.drylands',
                'cg.subject.humidtropics',
                'cg.subject.icarda',
                'cg.subject.iita',
                'cg.subject.ilri',
                'cg.subject.system',
                'cg.subject.wle']"
      [separator]="'; '"
      [label]="'item.page.subjects'">
    </ds-generic-item-page-field>
    <ds-item-page-metadata-search-link [item]="object"
      [fields]="['cg.coverage.country']"
      [separator]="'; '"
      [label]="'item.page.country'"
      [index]="'country'">
    </ds-item-page-metadata-search-link>
    <ds-item-page-metadata-search-link [item]="object"
      [fields]="['cg.coverage.region']"
      [separator]="'; '"
      [label]="'item.page.region'"
      [index]="'region'">
    </ds-item-page-metadata-search-link>
    <ds-item-page-metadata-search-link [item]="object"
      [fields]="['cg.contributor.affiliation']"
      [separator]="'; '"
      [label]="'item.page.affiliation'"
      [index]="'affiliation'">
    </ds-item-page-metadata-search-link>
    <ds-item-page-metadata-search-link [item]="object"
      [fields]="['cg.contributor.donor']"
      [separator]="'; '"
      [label]="'item.page.donor'"
      [index]="'sponsorship'">
    </ds-item-page-metadata-search-link>
    <ds-item-page-metadata-search-link [item]="object"
      [fields]="['cg.subject.actionArea']"
      [separator]="'; '"
      [label]="'item.page.actionArea'"
      [index]="'actionArea'">
    </ds-item-page-metadata-search-link>
    <ds-item-page-metadata-search-link [item]="object"
      [fields]="['cg.subject.impactArea']"
      [separator]="'; '"
      [label]="'item.page.impactArea'"
      [index]="'impactArea'">
    </ds-item-page-metadata-search-link>
    <ds-item-page-metadata-search-link [item]="object"
      [fields]="['cg.contributor.programAccelerator']"
      [separator]="'; '"
      [label]="'item.page.programAccelerator'"
      [index]="'programAccelerator'">
    </ds-item-page-metadata-search-link>
    <ds-item-page-metadata-search-link [item]="object"
      [fields]="['cg.contributor.initiative']"
      [separator]="'; '"
      [label]="'item.page.initiative'"
      [index]="'initiative'">
    </ds-item-page-metadata-search-link>
    <ds-item-page-metadata-search-link [item]="object"
      [fields]="['cg.subject.impactPlatform']"
      [separator]="'; '"
      [label]="'item.page.impactPlatform'"
      [index]="'impactPlatform'">
    </ds-item-page-metadata-search-link>
    <ds-item-page-relation-field [item]="object">
    </ds-item-page-relation-field>
    <ds-item-page-collections [item]="object"></ds-item-page-collections>
  </div>
</div>
