// Note that we only add styles we want to override from the cgspace theme here.
// We do not use the SASS "!default" here because we want to set the values no
// matter whether they are already defined or not.

// See: https://branding.iwmi.org

// IWMI dark blue
$primary: #28537D;

// IWMI light blue
$secondary: #5088C6;

// Override mouse selection and hit highlighting color
$info: $secondary;

// Use IWMI light grey for gray-200, used for for breadcrumb-bg
// See: node_modules/bootstrap/scss/_variables.scss
$gray-200: #E8E7E7;

// Other colors (uncomment the variables that you want to override or that you need to use in this file)
// See: https://branding.iwmi.org/our-colours/
$blue:    $secondary;
$orange:  #E86933;
$yellow:  #DD9103;
$green:   #22AD7A;
$teal:    #0297A6;
