@if (item.hasMetadata(['dcterms.relation', 'cg.link.citation', 'cg.link.video', 'cg.identifier.dataurl'])) {
  <div class="item-page-field">
    <div class="simple-view-element">
      <h5>Related Material</h5>
      <div class="simple-view-element-body">
        <div class="ml-3">
          @if (item.hasMetadata('dcterms.relation')) {
            <div class="mb-2">Related reference:
              @for (mdValue of item?.allMetadata('dcterms.relation'); track mdValue; let last = $last) {
                <ng-container [ngTemplateOutlet]="relatedLink"
                  [ngTemplateOutletContext]="{value: mdValue.value}">
                </ng-container>
                @if (!last) {
                  <span>; </span>
                }
              }
            </div>
          }
          @if (item.hasMetadata('cg.identifier.dataurl')) {
            <div class="mb-2">Related dataset:
              @for (mdValue of item?.allMetadata('cg.identifier.dataurl'); track mdValue; let last = $last) {
                <ng-container [ngTemplateOutlet]="relatedLink"
                  [ngTemplateOutletContext]="{value: mdValue.value}">
                </ng-container>
                @if (!last) {
                  <span>; </span>
                }
              }
            </div>
          }
          @if (item.hasMetadata('cg.link.video')) {
            <div class="mb-2">Related video:
              @for (mdValue of item?.allMetadata('cg.link.video'); track mdValue; let last = $last) {
                <ng-container [ngTemplateOutlet]="relatedLink"
                  [ngTemplateOutletContext]="{value: mdValue.value}">
                </ng-container>
                @if (!last) {
                  <span>; </span>
                }
              }
            </div>
          }
          @if (item.hasMetadata('cg.link.citation')) {
            @for (mdValue of item?.allMetadata('cg.link.citation'); track mdValue) {
              <ng-container
                [ngTemplateOutlet]="relatedCitation"
                [ngTemplateOutletContext]="{value: mdValue.value}">
              </ng-container>
            }
          }
        </div>
      </div>
    </div>
  </div>
}

<!-- Template for related links we want to show -->
<ng-template #relatedLink let-value="value">
  <a [href]=value target="_blank" [innerHTML]="value"></a>
</ng-template>

<!-- Template for related citations -->
<ng-template #relatedCitation let-value="value">
  <h5>Related Citation</h5>
  <div class="mb-2" [innerHTML]="value"></div>
</ng-template>
