@if (item?.allMetadata(fields).length) {
    <ds-metadata-field-wrapper [label]="label | translate">
        <!-- Iterate over metadata values and generate search links -->
        @for (mdValue of item?.allMetadata(fields); track mdValue; let last = $last) {
          <a routerLink="/search" [queryParams]="generateSearchParams(mdValue.value, index)">{{ mdValue.value }}</a>
          @if (!last) {
            <span class="separator" [innerHTML]="separator"></span>
          }
        }
    </ds-metadata-field-wrapper>
}
