h2, h3 {
    position: relative;
    margin-bottom: 50px;
}

h2::after, h3::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    background: var(--brand-primary);
    width: 40px;
    height: 4px;
}

figure {
    position: relative;
    margin: 0; /* remove margins form figure element */
}

figure img {
    display: block; /* setting the display to block removes the gap under the image */
}

.figure-caption {
    color: $gray-400;
    position: absolute;
    padding: 2px 4px;
    bottom: 0;
    right: 0;
}
