<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Welcome</h1>
          <p class="lead">CGSpace is a collaboration of several centers, the CGIAR system management office and research programs. It is hosted by the International Livestock Research Institute.</p>
        </div>
      </div>
      <p>This is a repository of agricultural research outputs and results produced by different parts of CGIAR and partners. It indexes reports, articles, press releases, presentations, videos, policy briefs and more. Visit the community of your choice; search across the whole site; sign up for email alerts and newsfeeds on topics or groups that interest you.</p>
      <p>Try out our new <a href="https://cgspace.cgiar.org/explorer">explorer tool</a> to search, find and view knowledge in this repository.</p>
      <p>View outputs and research on the <a href="https://cgspace.cgiar.org/discover?rpp=20&amp;etal=0&amp;group_by=none&amp;page=1&amp;sort_by=dc.date.issued_dt&amp;order=desc&amp;filtertype_0=subject&amp;filter_relational_operator_0=equals&amp;filter_0=covid-19">COVID-19 pandemic</a> and recovery.</p>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/dspace/images/banner.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
</div>
