<div class="intro-container">
  <div class="container mt-2 mb-4">
      <div class="d-flex flex-wrap">
        <div>
          <h1>Welcome</h1>
          <hr />
          <p class="lead">CGSpace helps you identify, locate and download research and other outputs produced across CGIAR and its partners. It also supports reporting across CGIAR initiatives and platforms.</p>
        </div>
      </div>
      <!-- don't show this wall of text on mobile -->
      <div class="d-none d-md-block">
          <p>Content is organized in <a routerLink="/community-list">communities and collections</a> and includes current and historical outputs from:</p>
          <ul>
              <li>CGIAR’s <a routerLink="/communities/c222a914-ea31-4dc9-92c5-e76b57dac187">current research</a> initiatives and impact platforms</li>
              <li>Outputs of <a routerLink="/communities/83eb0db0-78fa-4ab3-b4c5-26bef3437a57">CGIAR research centers</a> — <a routerLink="/communities/ae60fa80-f63a-4406-8b7a-4da18ee9e2f9">AfricaRice</a>, the <a routerLink="/communities/b38ea726-475f-4247-a961-0d0b76e67f85">Alliance</a> of <a routerLink="/communities/0e4017e5-9144-4c24-9b95-2ac3579d6d4b">Bioversity International</a> and <a routerLink="/communities/47d0498a-203c-407d-afb8-1d44bf29badc">CIAT</a>, the <a routerLink="/communities/0074d1e1-d1a0-4fa2-ae90-f9bfbd09ea7d">International Institute of Tropical Agriculture</a>, the <a routerLink="/communities/bde7139c-d321-46bb-aef6-ae70799e5edb">International Livestock Research Institute</a>, the <a routerLink="/communities/86511537-bf7d-4fa3-90e8-7d0d5d2a7f41">International Potato Center</a>, and the <a routerLink="/communities/e9af9bd8-aca9-4efa-8bd8-1edb5fe1ac4c">International Water Management Institute</a></li>
              <li>Selected outputs from other centers — the <a routerLink="/search" [queryParams]="{ 'f.affiliation': 'International Center for Agricultural Research in the Dry Areas,equals' }">International Center for Agricultural Research in the Dry Areas</a>, the <a routerLink="/search" [queryParams]="{ 'f.affiliation': 'International Food Policy Research Institute,equals' }">International Food Policy Research Institute</a>, the <a routerLink="/search" [queryParams]="{ 'f.affiliation': 'International Maize and Wheat Improvement Center,equals' }">International Maize and Wheat Improvement Center</a>, the <a routerLink="/search" [queryParams]="{ 'f.affiliation': 'International Rice Research Institute,equals' }">International Rice Research Institute</a> and <a routerLink="/search" [queryParams]="{ 'f.affiliation': 'WorldFish,equals' }">WorldFish</a>, as well as the <a routerLink="/communities/2d6214fe-191f-4362-872b-ba1c43d080f7">Center for International Forestry Research</a></li>
              <li><a routerLink="/info/about">Read more about the content we hold</a></li>
          </ul>
      </div><!-- end div class="d-none d-md-block" -->
      <p>To help you navigate, you can:</p>
      <ul>
          <li><i class="fas fa-globe pr-1"></i><a routerLink="/community-list">Browse</a> the communities and collections</li>
          <li><i class="fas fa-search pr-1"></i><a routerLink="/search">Search</a> for concepts or people using free or controlled terms and filters</li>
          <li><i class="fas fa-chart-area pr-1"></i> <a href="https://cgspace.cgiar.org/explorer">Explore</a>, visualize and generate reports across the repository</li>
      </ul>
    </div>
</div>
