<div class="intro-container">
  <div class="container mt-2 mb-4">
      <div class="d-flex flex-wrap">
        <div>
          <h1>Welcome</h1>
          <hr />
          <p class="lead">CGSpace is a collaboration of several centers, the CGIAR system management office and research programs. It is hosted by the International Livestock Research Institute.</p>
        </div>
      </div>
      <p>This is a repository of agricultural research outputs and results produced by different parts of CGIAR and partners. It indexes reports, articles, press releases, presentations, videos, policy briefs and more. Visit the community of your choice; search across the whole site; or try out our new <a href="https://cgspace.cgiar.org/explorer">explorer tool</a> tool to search, find and view knowledge in this repository.</p>
      <p>View outputs of the <a href="https://cgspace.cgiar.org/handle/10568/115087">CGIAR 2030 research initiatives</a>.</p>
    </div>
</div>
