<div class="item-page-field" *ngIf="item?.allMetadata(fields).length">
    <ds-metadata-field-wrapper>
        <div class="simple-view-element">
            <h5 class="simple-view-element-header">{{ label | translate }}</h5>
            <div class="simple-view-element-body">
                <!-- Iterate over metadata values and send them to the sdgIcon template -->
                <ng-container *ngFor="let mdValue of item?.allMetadata(fields); let first=first; let last=last;">
                    <ng-container *ngTemplateOutlet="sdgIcon;
                                                     context: {
                                                        value: mdValue.value,
                                                        first: first,
                                                        last: last,
                                                        length: item?.allMetadata(fields).length,
                                                     }">
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </ds-metadata-field-wrapper>
</div>

<!-- Render the UN SDG Goal icon.
     See: https://www.un.org/sustainabledevelopment/news/communications-material/
-->
<ng-template #sdgIcon let-value="value" let-first="first" let-last="last" let-length="length">
    <!-- TODO: more elegant if/else so I don't have to duplicate the img -->
    <!-- TODO: fix the layout on mobile -->
    <span class="pl-0 pr-1" *ngIf="first">
        <img src="assets/images/sdg-icons/E-WEB-Goal-{{ calculateSdgNumber(value) }}.webp" [alt]="value" [title]="value" class="sdg"/>
    </span>
    <span class="px-1" *ngIf="!first && !last">
        <img src="assets/images/sdg-icons/E-WEB-Goal-{{ calculateSdgNumber(value) }}.webp" [alt]="value" [title]="value" class="sdg"/>
    </span>
    <!-- "last" only makes sense if there is more than one! -->
    <span class="pl-1 pr-0" *ngIf="last && length > 1">
        <img src="assets/images/sdg-icons/E-WEB-Goal-{{ calculateSdgNumber(value) }}.webp" [alt]="value" [title]="value" class="sdg"/>
    </span>
</ng-template>
