// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

.facet-filter, .setting-option {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  // Override link color in facet filter boxes (others are overridden in the
  // search-text-filter.component and we might need to copy that into this
  // theme so we can override it again.
  a {
    color: $brand-primary;
  }

  h5 {
    font-size: 1.1rem
  }
}

header {
  .navbar-navigation > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

body {
  background-color: $cgiar-white;
  // override DSpace's default line-height of 1.5
  line-height: 1.3;
}

li.page-item.active a.page-link {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $cgiar-white;
}

a.page-link {
  color: $cgiar-gray;

  @include hover {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    color: $cgiar-white;
  }
}

// override Bootstrap primary buttons default states
.btn-primary:not(:disabled):not(.disabled), .btn-primary:not(:disabled):not(.disabled) {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $cgiar-white;

  // override default blue hover
  // TODO: fix active/clicked state
  @include hover {
    background-color: darken($brand-primary, 10%);
    border-color: $brand-primary;
    color: $cgiar-white;
  }
}

// override Bootstrap primary button disabled colors (they are still reduced
// opacity, but we use CGIAR colors).
.btn-primary.disabled, .btn-primary:disabled {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

// override Bootstrap primary button active states
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $cgiar-white;
}

// override Bootstrap secondary button default states
.btn-secondary:not(:disabled):not(.disabled), .btn-secondary:not(:disabled):not(.disabled) {
  background-color: $cgiar-white;
  border-color: $brand-primary;
  color: $brand-primary;

  // override default blue hover
  @include hover {
    border-color: $brand-primary;
    color: $brand-secondary;
  }
}

// override Bootstrap secondary button active states
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $cgiar-white;
}

// Override Bootstrap button outline
.btn-outline-secondary:not(:disabled):not(.disabled), .btn-outline-primary:not(:disabled):not(.disabled), .show > .btn-outline-primary.dropdown-toggle,
.btn-outline-secondary:not(:disabled):not(.disabled), .btn-outline-secondary:not(:disabled):not(.disabled), .show > .btn-outline-secondary.dropdown-toggle {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $cgiar-white;

  // override default blue hover
  @include hover {
    background-color: darken($brand-primary, 10%);
    border-color: $brand-primary;
    color: $cgiar-white;
  }
}

// Override Bootstrap button outline secondary active state
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $cgiar-white;
}

.btn-link {
  color: $brand-primary;

  // override default blue hover
  @include hover {
    color: darken($brand-primary, 10%);
  }
}

.list-group-item.active {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $cgiar-white;
}

// temporary hack to reset the `lead` class on community/collection/item list.
// It would be better to override app/shared/object-list/community-list-element
// and remove the lead class properly though...
a.lead {
  font-weight: 400;
  font-size: inherit;
}

// temporary hack until I can figure out how to override the entire footer and
// remove the text-white class
footer div.text-white {
  color: $cgiar-white;
}

a {
  color: $brand-primary;

  @include hover {
    color: darken($brand-primary, 10%);
  }
}

.badge-info {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $cgiar-white;
}

// Override badge colors
.badge-primary, .badge-secondary {
  background-color: $brand-primary;
}

.dropdown-item.active {
  color: $cgiar-white;
  background-color: $brand-primary;
}

.dropdown-item:hover {
  color: $cgiar-white;
  background-color: $brand-secondary;
}

// Override Bootstrap alert box to be more subtle and use CGIAR colors
.alert-info {
  background-color: $cgiar-white;
  color: $brand-primary;
  border-color: $brand-secondary;
}

// Override Bootstrap focus hover effect
.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba($brand-primary, 0.25);
}

// Override Bootstrap h5 font-size of 1.25rem
.simple-view-element-header {
  font-size: 1.1rem;
}

// Override date facet link color from search-text-filter.component
.filter-value {
  color: $brand-primary;
}

i.fa-orcid {
  color: $brand-secondary;
}
