// Override or add CSS variables for your theme here

:root {
  --ds-header-logo-height: 40px;
  --ds-banner-text-background: $white;
  --ds-banner-background-gradient-width: 300px;
  --ds-home-news-link-color: #{$brand-primary};
  --ds-home-news-link-hover-color: #{darken($brand-primary, 10%)};
  // override DSpace navbar link colors (note the special variable syntax here)
  --ds-navbar-link-color: #{$cgiar-white};
  --ds-navbar-link-color-hover: #{$cgiar-white};
  // override DSpace search, language, and login colors
  --ds-header-icon-color: #{$cgiar-white};
  // override DSpace header background color
  --ds-header-bg: #{$brand-primary};
  // override DSpace footer background color
  --ds-footer-bg: #{$brand-primary};
  // override DSpace header trail text color
  --ds-breadcrumb-link-active-color: #{$cgiar-gray};
  --cgiar-white: #{$cgiar-white};
  --cgiar-gray: #{$cgiar-gray};
}

