// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override Bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here.

// When this file is going to be compiled, internal Bootstrap variables won't have been declared yet,
// therefore if you want to use any Bootstrap variable you also need to declare it here.

// All SASS variables from the base theme are also included here. Do not use the '!default' flag
// here if you want to override them.


/*** FONT FAMILIES ***/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400..700;1,400..700&display=swap');

$font-family-sans-serif: "Noto Sans", sans-serif !default;

// Override Bootstrap grid, inspired by Dukespace
// See: https://gitlab.oit.duke.edu/ddr/dspace-angular/-/blob/main/src/themes/dukespace/styles/_theme_sass_variable_overrides.scss
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 690px,
  md: 930px,
  lg: 1110px,
  xl: 1360px
) !default;

/*** SEMANTIC COLOR SCHEME ***/

// Gray scale (uncomment the variables that you want to override or that you need to use in this file)
// CGIAR Brand Guidelines version 1.0 (July 2025)
// We use !default because the SASS overrides are imported in child themes and
// we want to be able to override these there.
//$white:    #fff;
$gray-100: #E2E0DF !default;
$gray-200: #C6C4C3 !default;
$gray-300: #AAA8A7 !default;
$gray-400: #8E8C8C !default;
$gray-500: #727070 !default;
$gray-600: #555554 !default;
$gray-700: #393939 !default;
$gray-800: #1D1D1D !default;
//$gray-900: #212529;
//$black:    #000;

/* This is the lightest true gray that meets 4.5:1 contrast */
/* vs. white (required by WCAG AA). */
$text-muted: #767676;

// Other colors (uncomment the variables that you want to override or that you need to use in this file)
//$blue:    #007bff !default;
//$indigo:  #6610f2 !default;
//$purple:  #6f42c1 !default;
//$pink:    #e83e8c !default;
//$red:     #dc3545 !default;
//$orange:  #fd7e14 !default;
//$yellow:  #ffc107 !default;
//$green:   #28a745 !default;
//$teal:    #20c997 !default;
//$cyan:    #17a2b8 !default;

// Define or override other colors here
// ...

// Override semantic colors here
$primary:   #033529 !default;  // CGIAR primary green
$secondary: #17F1BD !default;  // CGIAR accent green
$success:   $secondary !default;
$info:      #57FAD3 !default;  // CGIAR compliment highlight green
$warning:   #ec9433 !default;  // Orange
$danger:    #cf4444 !default;  // Red
$light:     #E2E0DF !default;  // CGIAR primary light
$dark:      #010D09 !default;  // CGIAR primary dark

// Add new semantic colors here (you don't need to add existing semantic colors)
$theme-colors: (
  // ...
);


/*** OTHER BOOTSTRAP VARIABLES ***/

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 170;

$body-color: $gray-800 !default;

$link-color: $primary !default;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline;

$table-accent-bg: $gray-100;
$table-hover-bg: $gray-400;

$navbar-dark-color: #fff;


/*** CUSTOM DSPACE VARIABLES ***/

// Check these next
$ds-home-news-link-color: #D2FC93;
$ds-header-navbar-border-bottom-color: #92c642;

$ds-breadcrumb-link-color: #154E66 !default;
$ds-breadcrumb-link-active-color: #040D11 !default;

$ds-header-bg: $primary !default;

$ds-navbar-bg: $primary;
$ds-navbar-dropdown-bg: $primary;
$ds-expandable-navbar-bg: $primary;
